*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.scoreboard{
    background-color: #471778;
    width: 400px;
    height: 250px;
    border-radius: 10px 10px 4px 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px ;
    gap: 20px;
    border-bottom: 6px solid #395eac;
    margin: 30px auto;}
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .guest{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .team{
        font-size: 30px;
        color: #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
;
    }
    .home-score{
        font-size: 40px;
        color: #fff;
        text-shadow: 0 0 1px rgb(0, 0, 0);
        background-color: #040b1ac4;
        padding: 20px 40px;
        border-radius: 5px;
        margin: 20px 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .home-btn{
        padding: 2px 4px;
        border-radius: 5px;
        border: 2px solid #fff;
        color: #fff;
        background-color: transparent;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        cursor: pointer;
    }
   .point{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   }